<tbody>
  <table class="w100pct">
    <div class=" bg_color_darkgreen d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3" style="margin:1%">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="/logo.png" class="bi me-2" width="132" style="margin-left:5%" height="32" role="img" aria-label="Bootstrap"></img>
        {{version}}
      </a>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <button id="slotMachineButton" type="button" class="btn btn-black me-2 bg_color_yellow color_black" disabled onclick="showSlotMachine();return false;">Slots</button>
        <button id="additionlDetailsButton" type="button" class="btn btn-black me-2 bg_color_yellow color_black" disabled onclick="showAdditionalDetails();return false;">Withdraw / Details / Cards</button>
        <button id="faqButton" type="button" class="btn btn-black me-2 bg_color_yellow color_black" onclick="showFAQ();return false;">FAQ</button>
      </ul>
      <b class="col-md-3 color_black text-end" style="margin-right:3%">
        Account: <span class="selectable" id="owner"></span>
        <button type="button" class="btn btn-outline-black me-2 bg_color_yellow color_black" onclick="waxjsWallet();return false;">WAX</button><button type="button" class="btn btn-outline-black me-2 bg_color_yellow color_black"
          onclick="anchorWallet();return false;">Anchor</button>
      </b>
    </div>
    <tr>
      <td>&nbsp;</td>
      <td class="w100vmin vertical_align_top">
        <span class="w100pct h90vmin">
          <table id="slotMachineTable" class="w100pct ">
            <tbody>
              <tr>
                <td class="h15vmin" colspan="1">
                  <br>
                  <div class="col-md text-center" style="margin-left: 15%;margin-right: 15%;">
                    <div class="card bg_color_yellow color_black">
                      <div class="card-header">
                        <h3 class="card-text">Welcome to monKeyslots</h3>
                      </div>
                      <div class="card-body">
                        <h6 class="card-title">The only slot machine that gives you a chance to win some Banano with your cryptomonKeys!<br>
                          How do I play? Wen BAN? Take a look at the FAQ.</h6>
                        <span class="display_none">Deposit Account: <span class="selectable" id="account"></span></span>
                      </div>
                    </div>
                  </div>
                  <br>
                  <button id="play" class="btn btn-outline-black me-2 color_black bg_color_green" onclick="play();return false;" disabled>Play!<br>(Or use the arm)</button>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  <object id="slotMachine" class="w100pct h72vmin" type="image/svg+xml" data="slot-machine.svg"></object>
                </td>
              </tr>
            </tbody>
          </table>
          <table id="additionlDetailsTable" class="display_none w100pct color_black">
            <tbody>
              <tr>
                <td>&nbsp;</td>
                <br>
                <td colspan="1" class="w100pct ">
                  <div class="row">
                    <div class="col-md text-center ">
                      <div class="card bg_color_yellow" style="height:13vmin">
                        <div class="card-header">
                          <h4 class="card-text">House Balance: <span class="selectable" id="houseAccountBalance"></span>
                          </h4>
                        </div>
                        <div class="card-body">
                          <h5 class="card-text">
                            House Pending Balance: <span class="selectable" id="houseAccountCacheBalance"></span>
                            <br>
                            <span class="selectable overflow_wrap_anywhere" id="houseAccount"></span>
                          </h5>
                        </div>
                      </div>
                    </div>
                    <div class="col-md text-center ">
                      <div class="card bg_color_yellow" style="height:13vmin">
                        <div class="card-header">
                          <h4 class="card-text">Your Account Balance:
                          </h4>
                        </div>
                        <div class="card-body">
                          <h5 class="card-text">
                            <span class="selectable" id="accountCacheBalance"></span>
                          </h5>
                        </div>
                      </div>
                    </div>

                  </div>


                  {{#if anyCaptchaEnabled}}
                    <br>
                    <div class="card bg_color_yellow">
                      <div class="card-header">
                        <h5 class="card-text">Don't have any Banano? Do a captcha! You will be credited a small amount of Banano.
                        </h5>
                      </div>
                    </div>
                  {{/if}}
                  <br>
                  {{#if blackMonkeyEnabled}}
                    <div class="col-md text-center mb-3">
                      <div class="card bg_color_yellow">
                        <div class="card-header">
                          <h4 class="card-text">Black Monkey Manual</h4>
                        </div>
                        <div class="card-body">
                          <div class="card-title">
                            <a class="exit_link" href="https://blackmonkey.banano.cc/manual-en.html" target="_blank">Open Black Monkey Manual</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <button class="btn btn-black me-2 bg_color_green color_black" onclick="blackMonkeyImage();return false;">
                        Black Monkey!
                      </button>
                      <div id="blackMonkey">
                      </div>
                      </h5>
                    </div>
                  {{/if}}
                  {{#if hcaptchaEnabled}}
                    <div class="card-body">
                      <div class="card-title">
                        <form action=" /hcaptcha" method="POST">
                          <div class="h-captcha" data-sitekey="{{hcaptchaSiteKey}}" data-size="compact" data-theme="dark" data-callback="dataCallback" data-expired-callback="dataExpiredCallback" data-error-callback="dataErrorCallback"></div>
                          <br />
                        </form>
                        <script>
                          function dataCallback() {
                            submitHcaptcha();
                          }

                          function dataExpiredCallback() {
                            submitHcaptcha();
                          }

                          function dataErrorCallback() {
                            submitHcaptcha();
                          }
                        </script>
                      </div>
                    </div>

                    </div>
                  {{/if}}
                  <br>
                  <div class="col-md text-center md-3">
                    <div class="card bg_color_yellow">
                      <div class="card-header">
                        <h3 class="card-text">Withdraw To Account
                        </h3>
                      </div>
                      <div class="card-body color_black">
                        <form method="POST">
                          <span>
                            <p>
                              Target address:
                              <input id="withdrawAccount" type="text" size="66" max_length="64" value="" defaultValue="To Account">
                            </p>
                            <p>
                              Withdraw Amount (Banano):
                              <input id="withdrawAmount" type="number" size="66" max_length="64" min="0" step="any" value="0.0">
                            </p>
                            <p>
                              <button id="withdrawButton" class="btn btn-black me-2 bg_color_green color_black" title="Withdraw" onclick="withdraw(); return false;">Withdraw</button>
                              <hr>
                              <span id="withdrawResponse" class="selectable">No Withdrawal Yet, TX id will show here</span>
                            </p>
                          </span>
                        </form>
                      </div>
                    </div>
                  </div>
                </td>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
          <table id="faqTable" class="display_none w100pct color_black">
            <tbody class="selectable">
              <tr>
                <td>&nbsp;</td>
                <br>
                <td colspan="1" class="w100pct ">
                  <a name="faq-what-is-banano"></a>
                  <div class="col-md text-center mb-3">
                    <div class="card bg_color_yellow">
                      <div class="card-header">
                        <h4 class="card-text">What is Banano?</h4>
                      </div>
                      <div class="card-body">
                        <div class="card-title">
                          <a class="exit_link" href="https://banano.cc/" target="_blank">Banano</a> is a feeless, instant, rich in potassium cryptocurrency powered by DAG technology disrupting the meme economy.
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <a name="faq-what-is-cryptomonkeys"></a>
                  <div class="col-md text-center mb-3">
                    <div class="card bg_color_yellow">
                      <div class="card-header">
                        <h4 class="card-text">What is cryptomonKeys?</h4>
                      </div>
                      <div class="card-body">
                        <div class="card-title">
                          <a class="exit_link" href="http://cryptomonkeys.cc/" target="_blank">cryptomonKeys</a> is a freely distributed, community-driven, meme-rich digital trading card series based on NFT technology, here to disrupt the meme
                          economy.</div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <a name="faq-no-wallet"></a>
                  <a name="faq-no-cryptomonkeys"></a>
                  <div class="col-md text-center mb-3">
                    <div class="card bg_color_yellow">
                      <div class="card-header">
                        <h4 class="card-text">You don't have a WAX wallet or cryptomonKeys?</h4>
                      </div>
                      <div class="card-body">
                        <div class="card-title">
                          Create your WAX wallet<a class="exit_link" href="https://wallet.wax.io" target="_blank"> here</a> or get some cryptomonKeys on <a class="exit_link" href="https://wax.atomichub.io/market?collection_name=crptomonkeys"
                            target="_blank">Atomichub</a>.
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <a name="faq-how-to-play"></a>
                  <div class="col-md text-center mb-3">
                    <div class="card bg_color_yellow">
                      <div class="card-header">
                        <h4 class="card-text">How to play</h4>
                      </div>
                      <div class="card-body">
                        <div class="card-title">
                          1. Login with Wax wallet (Anchor or Cloud) in the top right corner.<br>
                          2. Bet banano using the buttons. Even if you bet 0 banano you might win some.<br>
                          3. Pull the slots arm and hope for some luck!<br>
                          (4. Withdraw or continue to play.)
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <a name="faq-how-to-login"></a>
                  <div class="col-md text-center mb-3">
                    <div class="card bg_color_yellow">
                      <div class="card-header">
                        <h4 class="card-text">How to login</h4>
                      </div>
                      <div class="card-body">
                        <div class="card-title">
                          Click on either WAX (Wax cloud wallet) or Anchor in the top right corner.<br>
                          You'll be asked to approve both a "know account name" and a "getrand" transaction to prove you are the owner of the account.<br>
                          After that a game session opens for your account. <br>(Otherwise anyone could impersonate your account if they know it's name)
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <a name="faq-frozen-cards"></a>
                  <div class="col-md text-center mb-3">
                    <div class="card bg_color_yellow">
                      <div class="card-header">
                        <h4 class="card-text">Frozen cards?</h4>
                      </div>
                      <div class="card-body">
                        <div class="card-title">
                          Cards freeze when they win a spin. A frozen card is "on cooldown" and therefor can't win if drawn by one wheel.<br>
                          They unfreeze after eight hours. You can come back after that time and play again!<br>
                          There is a timer shown on the additional details page for each frozen card.
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <a name="faq-how-does-it-work"></a>
                  <div class="col-md text-center mb-3">
                    <div class="card bg_color_yellow">
                      <div class="card-header">
                        <h4 class="card-text">How does it work?</h4>
                      </div>
                      <div class="card-body">
                        <div class="card-title">
                          There are three stacks of cards, one behind each wheel. Each stack contains all {{templateCount}} cards.<br>
                          Each play it draws 1 card from each stack, three cards total.
                          <br> You win if you own at least one of the three cards that were drawn, and the card is not frozen.
                          <br> All cards that are shown will be frozen, so you may win with three cards you own, and then after you win all three cards will be frozen.
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <a name="faq-how-to-profit"></a>
                  <div class="col-md text-center mb-3">
                    <div class="card bg_color_yellow">
                      <div class="card-header">
                        <h4 class="card-text">How do I make a profit?</h4>
                      </div>
                      <div class="card-body">
                        <div class="card-title">
                          The monKeyslots are designed to work as a faucet.<br>
                          No deposits are allowed, so it is impossible to lose.<br>
                          However, it is possible to win less quickly.<br>
                          The optimal play is to bet high until 'chance to win' goes under 50%, then bet lower.<br>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <a name="faq-i-have-problems"></a>
                  <div class="col-md text-center mb-3">
                    <div class="card bg_color_yellow">
                      <div class="card-header">
                        <h4 class="card-text">I HAVE PROBLEMS</h4>
                      </div>
                      <div class="card-body">
                        <div class="card-title">
                          <ul>
                            <li>
                              <span class="bold">billed CPU time (999 us) is greater than the maximum billable CPU time for the transaction (999 us)</span>
                              This is a WAX error, where you need to stake wax to run the secure-rand smart contract.
                              <a class="exit_link" href="https://wax.bloks.io/wallet/resources/stake" target="_blank">Stake some WAX for CPU</a>
                            </li>
                            <br>
                            <li>
                              <span class="bold">Unexpected token < in JSON at position 0</span>
                                  This is a WAX error, where the wax content delivery network is overloaded. Can't do anything, just wait for them to fix it.
                            </li>
                            <br>
                            <li>
                              <span class="bold">an error occurred server side: connection refused</span>
                              This is a WAX error, where the wax network api is overloaded. Can't do anything, just wait for them to fix it.
                            </li>
                            <br>
                            <li>
                              <span class="bold">if you see "(3/4) nonce tx.." for more than 60 seconds</span>
                              Try again. The login to wax failed, and there should be an error in the console.
                            </li>
                            <br>
                            <li>
                              <span class="bold">if you see "user started a new transaction"</span>
                              Try again. The login to wax failed, and there should be an error in the console.
                            </li>
                            <br>
                            <li>
                              <span class="bold">The roll over the arm is just animation.</span>
                              The roll over the arm is just animation. The win condition is calculated server side, and does not take into account what cards are shown when the arm is hovered over.
                            </li>
                            <br>
                            <li>
                              <span class="bold">if you see "no cards, play disabled"</span>
                              Stop playing, all your cardds are frozen.
                              <a class="exit_link" href="https://chat.cryotomonkeys.cc" target="_blank">Get a Free CryptomonKey</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </span>
      </td>
      <td>&nbsp;</td>
    </tr>
  </table>
</tbody>
<span class="display_none" id="ownedAssets">
  <div class="col-md text-center md-3">
    <div class="card bg_color_yellow">
      <div class="card-header">
        <h3 class="card-text">Cards
        </h3>
      </div>
    </div>
  </div>
  <span class="centered" id="ownedAssetsInner">
  </span>
</span>
<span class="display_none" id="nonce"></span>
<span class="display_none" id="nonceHash"></span>
<span class="display_none" id="lastNonceHash"></span>
<span class="display_none" id="transaction_id"></span>
<span class="display_none" id="overrideNonce">{{overrideNonce}}</span>
<span class="display_none" id="waxEndpointVersion">{{waxEndpointVersion}}</span>
<span class="display_none" id="waxEndpoint">{{waxEndpoint}}</span>
<audio id="start" src="sounds/69717__lukaso__start-1.wav" preload="auto"></audio>
<audio id="wheel" src="sounds/69701__lukaso__wheel4.wav" preload="auto"></audio>
<audio id="winner" src="sounds/69696__lukaso__jackpot8.wav" preload="auto"></audio>
<audio id="loser" src="sounds/69699__lukaso__slotloser.wav" preload="auto"></audio>
<audio id="money" src="sounds/69693__lukaso__5gokkasttrekarms.wav" preload="auto"></audio>
<div id="burnAccount" class="display_none">{{burnAccount}}</div>
<!-- https://www.kirilv.com/canvas-confetti/ -->
<!-- <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.3.3/dist/confetti.browser.min.js"></script> -->
<script src="js-lib/confetti-1.4.0.js"></script>
<script src="https://unpkg.com/anchor-link@2"></script>
<script src="https://unpkg.com/anchor-link-browser-transport@2"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/eosjs-ecc@4.0.4/lib/eosjs-ecc.min.js" integrity="sha512-dYFDmK/d9r3/NCp6toLtfkwOjSMRBaEzaGAx1tfRItC0nsI0hVLERk05iNBQR7uDNI7ludYhcBI4vUiFHdjsTQ==" crossorigin="anonymous"></script>
{{#if hcaptchaEnabled}}
  <script src="https://hcaptcha.com/1/api.js" async defer></script>
{{/if}}
<script type="module" src="js/views/slots.js"></script>
